<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hello and welcome!</p>
        <p>You are seeing this mail because an account was created on your behalf.</p>
        <p> Here are your credentials:</p>
        <p>Username: {{username}}</p>
        <p>Password: {{password}}</p>
        <a href="{{link}}">Login to your account</a>
    </body>
</html>