<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hello {{first_name}},</p>
        <p>Your Knowledge Exhange and Collaboration system {{type}} account was successfully created!!!</p>
        <a href="{{link}}">Login to your account to get started.</a>
    </body>
</html>