.app {
  width: 100vw;
  height: 44vh;
  display: none;
}
.a-pp {
  gap: 45px;
}
.landing-nav {
  z-index: 100;
}
.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lndmbtext {
  margin-top: 65px;
}
.landmb {
  justify-content: space-between;
}
.land---mobile {
  display: none;
}
.landing--home {
  width: 27%;
  margin: auto;
}
.land---image {
  width: 70%;
  margin: auto;
}
.landing-text {
  text-align: center;
  margin-top: -20px;
}
.landing-text p {
  margin-top: -10px;
}
.landing-image {
  width: 75%;
  margin: auto;
}

.landing--cont {
  margin: auto;
  display: grid;
  gap: 50px;
  height: 100%;
}
.ict {
  text-align: center;
}
.ict h5 {
  color: #198754;
}
.globe {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 60%;
  margin: 0 auto;
  align-items: flex-start;
}

.landing--contt {
  width: 45%;
  margin: auto;
}
.landing--conttt {
  margin: auto;
  width: 255px;
}
.landing---contt {
  justify-content: space-between;
  margin: auto;
}
.landing---conttt {
  width: 35%;
  margin: auto;
  justify-content: space-between;
  margin-top: 20px;
}
.line {
  text-decoration: none;
}
.map img {
  width: 100%;
}
.input {
  width: 35%;
  margin: auto;
}
.commons img {
  width: 10%;
}
.wiki {
  justify-content: space-between;
}
.wiki h5 {
  font-size: 14px;
}
.wikis {
  width: 75%;
  margin: auto;
}
.mob-col {
  background-color: #f8f9fa;
  height: 130px;
}
.mobile_view {
  width: 35%;
  margin: auto;
  display: none;
}
.mobile_view img {
  width: 29%;
}
.mob-text {
  margin-top: 50px;
}
.border-line {
  width: 70%;
  margin: auto;
  border-bottom: 1px solid #f1f3f4;
}
.browse {
  width: 13%;
  margin: auto;
  text-align: center;
  border-radius: 4px;
  height: 35px;
  background-color: #ebebeb;
}
.browse h5 {
  padding: 5px;
}
.footer {
  background-color: #e5e7eb;
  height: 435px;
  margin-top: 50px;
}
.foo-ter {
  width: 90%;
  margin: auto;
  justify-content: space-between;
  padding-top: 70px;
}

.ffter {
  width: 60%;
  justify-content: space-between;
}
.appimage {
  width: 25%;
}
.footer-content li {
  line-height: 30px;
  list-style: none;
}
.footer-content h5 {
  margin-left: 30px;
}
.mobile--footer {
  background-color: #e5e7eb;
  height: 500px;
  display: none;
}
.border_line {
  width: 90%;
  margin: auto;
  border-bottom: 1px solid grey;
  margin-top: 30px;
}
.f-list {
  width: 90%;
  margin: auto;
}
.f-list h5 {
  font-size: 13px;
}
.footer_image img {
  width: 50%;
}
/* pageTwo */

.men_u {
  width: 90%;
  margin: auto;
}
nav {
  width: 100%;
  height: 4em;
  display: flex;
  justify-content: flex-start;
  padding: 1em;
}
.sg {
  width: 12%;
}
.sg button {
  height: 40px;
}
.prof-section {
  width: 15%;
}
.hamburger--menu {
  display: none;
}
.burger_menu {
  height: 50%;
  width: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 8px;
  /* position: absolute; */
}
.burger-bar {
  width: 2em;
  height: 0.2em;
  background-color: black;
  border-radius: 0.5em;
}
.menu {
  width: 70%;
  height: 100vh;
  background-color: whitesmoke;
  top: 60px;
  z-index: 100;
  position: absolute;
}
.hidden {
  display: none;
}
.visible {
  display: inherit;
}
.burger-bar.clicked:nth-child(1) {
  transform: rotate(51deg) translate(0.75em, 1.25em);
  transition: ease-out 0.5s;
}
.burger-bar.clicked:nth-child(2) {
  transform: scale(0.1);
  transition: ease-out 0.5s;
}
.burger-bar.clicked:nth-child(3) {
  transform: rotate(130deg) translate(0.6em, 0.1em);
  transition: ease-out 0.5s;
}
.landing-nav {
  height: 60px;
  position: sticky;
  top: 0;
}
.na_vv {
  width: 91%;
  margin: auto;
}
.landing-bk {
  background-color: #fbf9f8;
  height: 100vh;
}
.landing_display {
  width: 99%;
  margin: auto;
  padding: 50px;
}
.landing_endless h5 {
  font-weight: 700;
  font-size: 32px;
}
.landing-image {
  width: 75%;
}
.landing-image img {
  width: 100%;
  height: 410px;
}
.slider img {
  width: 100%;
}
.slider h5 {
  font-size: 16px;
  font-weight: 700;
}
.to--pic h5 {
  font-weight: 600;
  font-size: 32px;
}
.btn {
  background-color: transparent;
}
.but_tons {
  gap: 5px;
  margin-bottom: 4px;
}
.navv {
  width: 87%;
  margin: auto;
}
.navv--bar {
  justify-content: space-between;
}
.nav-bar {
  width: 40%;
}
.sbtn {
  height: 40px;
}
.link-image img {
  width: 100%;
  height: 50px;
}
.nav-txt {
  margin-top: -5px;
}
.nav-txt h5 {
  font-weight: 700;
  padding: 10px;
}
.inputt {
  width: 80%;
}
.ham-headers {
  width: 65%;
  justify-content: space-between;
}
.ham h5 {
  font-size: 13px;
}
.but-ton {
  border: 1px solid lightgreen;
  background: transparent;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
  margin-top: 7px;
}
.students {
  width: 87%;
  margin: auto;
  justify-content: space-between;
}
.guides {
  width: 60%;
}
.guides p {
  font-size: 16px;
}
.stu-image {
  width: 35%;
}
.stu-image img {
  width: 100%;
}
.stu-btn {
  width: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 10px 20px;
  background-color: green;
  color: whitesmoke;
  font-weight: 600;
  margin-top: 25px;
}
.stu-btnn {
  width: 100%;
  background: transparent;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid rebeccapurple;
  margin-top: 10px;
  color: rebeccapurple;
}
.prof-btn {
  height: 35px;
}
.hamburger {
  width: 99%;
  margin: auto;
  padding: 25px;
  max-height: 90vh;
  overflow-y: auto;
  position: sticky;
  top: 80px;
}
.ham-burger img {
  width: 20%;
}
.ham-txt h5 {
  font-size: 16px;
  font-weight: 700;
}
.brwse {
  width: 80%;
  justify-content: space-between;
}
.brwse h5 {
  font-size: 13px;
  color: #1e7b85;
  font-weight: 300;
}
.ints h5 {
  font-size: 11px;
  color: #1e7b85;
  font-weight: 300;
}
.intss h5 {
  font-size: 12px;
  font-weight: 400;
}
.intss img {
  width: 70%;
}
.brow-se h5 {
  font-size: 13px;
}
.mobileviewss {
  width: 30%;
  margin: auto;
  display: none;
}
.mobileviewss img {
  width: 100%;
}
.horizontal-line {
  border-bottom: 1px solid #ced4da;
}
.stu-imagez {
  display: none;
}

/* pagethree */
.online-categories {
  width: 85%;
  margin: auto;
}
.inn {
  border-bottom: 1px solid #ebebeb;
}
.techsss {
  width: 77%;
  margin: auto;
  margin-top: -0px;
}
.tech-topics {
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
}
.show-btn {
  border: none;
  background: transparent;
  color: royalblue;
  font-weight: 600;
}
.ulist {
  justify-content: space-between;
}
.ulist h5 {
  font-size: 14px;
}
.gg h5 {
  font-size: 15px;
}
.ggg h5 {
  font-weight: 700;
  margin-bottom: 15px;
}
/* pagefour */
.navv-vv {
  width: 92%;
  margin: auto;
}
.main-dropdown {
  width: 90%;
  margin: auto;
}
.four-color {
  height: 50px;
}
.dd h5 {
  font-size: 16px;
}
.dd {
  width: 85%;
  margin: auto;
  justify-content: end;
}
.dd-d {
  width: 80%;
  margin: auto;
  justify-content: end;
}
.sub-navbar {
  width: 90%;
  justify-content: end;
  margin: auto;
}
.sub-navbar h5 {
  font-size: 16px;
}
.dd-d h5 {
  font-size: 16px;
}
.tp {
  justify-content: space-between;
}
.explore {
  width: 98%;
}
.bl {
  border-bottom: 1px solid #d3d3d3;
  width: 50%;
}
.intech {
  width: 70%;
}
.vid h4 {
  font-size: 14px;
}
.vid h5 {
  font-weight: 600;
  font-size: 14px;
}
.vid-eo {
  width: 85%;
  margin: auto;
  margin-top: -200px;
}
.buttons {
  width: 25%;
}
.sec-btn {
  background: transparent;
  padding: 5px 10px;
  border-radius: 18px;
  border: 1px solid black;
}
.bbtn {
  margin-bottom: 7px;
}
.items li {
  list-style: none;
}
.nav_under {
  width: 22%;
  justify-content: space-between;
}
.nav_under h5 {
  font-size: 13px;
}
.explore_topics {
  width: 90%;
  margin: auto;
}
.exploretopics {
  justify-content: space-between;
}
.fv-vid h5 {
  font-size: 18px;
}
.infotech {
  width: 60%;
}
.info--tech {
  width: 20%;
}
.tech__btn {
  background: transparent;
  cursor: pointer;
  border: 1px solid #e5e7eb;
  border-radius: 16px;
  padding: 5px 15px;
}
.tech__btn:hover {
  border: 1px solid #b2b2b2;
}
.top-buttons {
  margin-bottom: 4px;
}
.sp-btn {
  border: none;
  background: transparent;
  padding: 5px 25px;
  background-color: green;
  color: white;
  border-radius: 18px;
  font-weight: 600;
}
.euf {
  justify-content: space-between;
}
.euf h5 {
  font-size: 13px;
  color: rebeccapurple;
}
.brow {
  justify-content: space-between;
}
.brow h5 {
  font-size: 13px;
  color: rebeccapurple;
}
.sgg {
  width: 25%;
}
.sg {
  justify-content: space-between;
}
.inputtt {
  display: none;
}
.bbtn_n {
  display: none;
}
.info--techss {
  display: none;
}
.dates {
  margin-top: -10px;
  font-size: 14px;
  color: #212529;
  font-weight: 300;
}
.sa_ve-btn {
  background: none;
  border: none;
  color: rgb(32, 190, 32);
}
.viewers {
  color: rgb(32, 190, 32);
}
.appp {
  overflow-x: scroll;
  white-space: nowrap;
  scroll-behavior: smooth;
  display: none;
}
.appp img {
  display: inline-block;
  padding: 15px;
  cursor: pointer;
}
.dpp {
  display: none;
}
.scroll-section {
  display: none;
}
.mobile___dropdown {
  display: none;
}
.bl-line {
  border-bottom: 1px solid #c7c8c9;
}
.drop {
  z-index: -1;
  position: absolute;
}
.prof-section button {
  height: 40px;
}
/* modalTwo */
.SignUp {
  width: 100%;
  margin: auto;
  margin-top: 30px;
}
.signup-page {
  text-align: center;
}
.signup-page p {
  text-align: center;
}
.uspan h5 {
  font-size: 13px;
  text-align: center;
}
.uspan-btn {
  width: 100%;
  background: transparent;
  padding: 8px 15px;
  cursor: pointer;
  background-color: green;
  color: white;
  font-weight: 700;
  border-radius: 18px;
  border: none;
}
/* modalOne */
.ModalOne {
  width: 100%;
  margin: auto;
}
.box-shadow {
  width: 100%;
  height: 400px;
}
.si-gn {
  width: 70%;
  margin: auto;
}
.mdl {
  justify-content: space-between;
  margin-top: -15px;
}
.mdl h5 {
  font-size: 13px;
}
.si-btn {
  width: 100%;
  border: none;
  background: transparent;
  padding: 10px 25px;
  background-color: green;
  color: whitesmoke;
  margin-top: 15px;
  font-weight: 600;
}
.fmsti h5 {
  font-size: 13px;
}
@media (max-width: 1440px) {
  .landing-bk {
    height: 520px;
  }
}
@media (max-width: 1024px) {
  .nav-bar {
    width: 55%;
  }
  .nav-bar img {
    width: 100%;
    height: 50px;
    margin-top: 5px;
  }
  .nav_under {
    width: 30%;
  }
  .sg {
    width: 20%;
    height: 52px;
  }
  .prof-section {
    width: 30%;
  }
  .tbtn {
    width: 20%;
  }
  .intech {
    width: 60%;
  }
  .landing--home {
    width: 32%;
    margin: auto;
  }
  .landing--contt {
    width: 55%;
    margin-top: -200px;
  }
  .landing--cont {
    width: 37%;
  }
  .landing---contt {
    width: 55%;
  }
  .sbtn {
    height: 40px;
  }
  .prof-section {
    width: 20%;
  }
}
@media (max-width: 768px) {
  .explore_topics {
    width: 90%;
  }
  .info--tech {
    width: 35%;
    justify-content: space-between;
  }
  .pgfive-btn {
    width: 15%;
  }
  .nav-bar {
    width: 55%;
    font-size: 13px;
  }
  .nav-txt h5 {
    font-size: 13px;
    margin-top: 7px;
  }
  .nav-bar img {
    height: 35px;
    margin-top: 15px;
  }
  .nav_under {
    width: 40%;
  }
  .sec-btn {
    font-size: 13px;
  }
  .sbtn {
    height: 35px;
  }
  .five-vid img {
    width: 90%;
  }
  .in4mation h5 {
    font-size: 13px;
  }
  .tyranny img {
    height: 100px;
  }
  .intech {
    width: 70%;
  }
  .tech {
    width: 30%;
  }
  .gg h5 {
    font-size: 13px;
  }
  .but-ton {
    height: 35px;
  }
  .tbtn {
    width: 25%;
  }
  .landing_endless h5 {
    font-size: 20px;
  }
  .students h2,
  h5 {
    font-size: 16px;
  }
  .landing--home {
    width: 35%;
    margin: auto;
  }
  .land---image {
    width: 75%;
  }
  .land---image img {
    width: 100%;
  }
  .landing-text h3 p {
    font-size: 13px;
  }
  .landing--contt {
    width: 65%;
    margin-top: -150px;
  }
  .landing--cont {
    width: 45%;
  }
  .ict h5 {
    font-size: 18px;
  }
  .landing---contt {
    width: 60%;
  }
  .appimage {
    width: 25%;
  }
  .footer {
    height: 520px;
  }
  .footer_image img {
    width: 90%;
  }
  .browse {
    width: 15%;
  }
  .saves {
    width: 70%;
  }
  .prof-section {
    width: 28%;
  }
  .sg {
    width: 29%;
  }
}
@media (max-width: 500px) {
  .landing-nav {
    width: 100%;
  }
  .pgfive-btn {
    width: 25%;
  }
  .nav-txt {
    margin-top: 1px;
  }
  .nav-txt h5 {
    font-size: 13px;
    margin-top: 5px;
  }
  .inputt {
    display: none;
  }
  .navv {
    width: 95%;
    justify-content: space-between;
  }
  .navv-vv {
    width: 95%;
    justify-content: space-between;
  }
  .navv-vvv {
    width: 95%;
    justify-content: space-between;
  }
  .na_vv {
    width: 95%;
    justify-content: space-between;
  }
  .ffr h5 {
    font-size: 13px;
  }
  .nav-bar {
    width: 55%;
    visibility: hidden;
    position: absolute;
    background-color: #1e7b85;
  }
  .nav-bar img {
    height: 23px;
    margin-top: 15px;
  }
  .explore_topics {
    width: 90%;
    margin: auto;
  }
  .vid-eo {
    width: 90%;
    margin: auto;
  }
  .infotech {
    width: 100%;
  }
  .info--tech {
    display: none;
  }
  .info {
    width: 85%;
  }
  .tech {
    display: none;
  }
  .tech__btn {
    font-size: 11px;
  }
  .euf h5 {
    font-size: 11px;
  }
  .browseby h5 {
    font-size: 12px;
    font-weight: 700;
  }
  .brow h5 {
    font-size: 11px;
  }
  .in4mation h5 {
    font-size: 13px;
  }
  .f-list {
    width: 95%;
  }
  .f-list li {
    font-size: 11px;
  }
  .f-list h5 {
    font-size: 12px;
  }
  .footer {
    display: none;
  }
  .mobile--footer {
    display: block;
  }
  .footer_image img {
    width: 100px;
  }
  .nav_under {
    width: 85%;
  }
  .online-categories {
    width: 95%;
  }
  .inn-fo {
    width: 25%;
  }
  .techsss {
    width: 73%;
  }
  .inn b {
    font-size: 13px;
  }
  .tech-topics b {
    font-size: 13px;
  }
  .ggg h5 {
    font-size: 13px;
  }
  .gg h5 {
    font-size: 11px;
  }
  .sgg {
    width: 30%;
  }
  .all h5 {
    font-size: 13px;
  }
  .tbtn {
    width: 35%;
  }
  .container h5 {
    font-size: 13px;
  }
  .pub {
    font-size: 13px;
  }
  .ict h5 {
    font-size: 13px;
  }
  .landing-home {
    display: none;
  }
  .browse {
    width: 25%;
    height: 65px;
  }
  .browse {
    display: none;
  }
  .border-line {
    display: none;
  }
  .ffter {
    width: 10%;
  }
  .mobile_view {
    width: 92%;
    margin: auto;
    display: block;
    margin-top: -150px;
  }
  .mobile-display {
    width: 75%;
    margin: auto;
  }
  .wiki h5 {
    font-weight: 400;
    color: #3366cc;
  }
  .mob-text p {
    font-weight: 700;
    margin-top: -10px;
  }
  .ios h5 {
    font-size: 13px;
    color: #3366cc;
  }
  .yelp img {
    width: 5%;
  }
  .landing_endless {
    display: none;
  }
  .landing-image {
    display: none;
  }
  .mobileviewss {
    display: block;
    width: 90%;
  }
  .mobbs .btn {
    width: 100%;
  }
  .mobbs h5 {
    font-size: 32px;
  }
  .mobbs p {
    text-align: center;
    font-size: 13px;
  }
  .container {
    display: none;
  }
  .landing-nav {
    position: sticky;
    top: 0;
  }
  .land---mobile {
    display: block;
    width: 90%;
    margin: auto;
    margin-top: -150px;
  }
  /* .landmb{width: 80%;margin: auto;} */
  .lndmb-image {
    width: 45%;
    margin-top: 40px;
  }
  .lndmb-image img {
    width: 100%;
  }
  .lndmbtext h5 {
    font-size: 20px;
  }
  .lndmbtext p {
    font-size: 12px;
    margin-top: -5px;
  }
  .lo-rem p {
    font-size: 14px;
    text-align: center;
  }
  .yepp {
    width: 30%;
    margin: auto;
  }
  .yepp img {
    width: 100px;
  }
  .contai-ners {
    display: block;
  }
  .inputtt {
    display: block;
    width: 95%;
    margin: auto;
    z-index: -1;
    position: relative;
  }
  .stu-btn {
    padding: 4px 4px;
  }
  .stu-btnn {
    padding: 4px 4px;
  }
  .intech {
    width: 95%;
    margin: auto;
  }
  .intech p {
    font-size: 14px;
  }
  .vid-eo {
    margin-top: 50px;
  }
  .five-vid {
    margin: auto;
    margin-bottom: 10px;
  }
  .bl {
    width: 100%;
  }
  .fv-vid h5 {
    font-weight: 700;
    font-size: 13px;
  }
  .bbtn_n {
    display: block;
    margin-top: 30px;
  }
  .info--techss {
    display: block;
  }
  .stu-image {
    display: none;
  }
  .stu-imagez {
    display: block;
  }
  .stu-imagez img {
    width: 100%;
  }
  .guides {
    width: 100%;
  }
  .guides h2 {
    font-size: 18px;
  }
  .cate--gories {
    width: 90%;
    margin: auto;
  }
  .main {
    width: 25%;
    height: 45vh;
  }
  .bg1 h5 {
    font-size: 12px;
    color: blue;
  }
  .bg2 h5 {
    font-size: 12px;
  }
  .bg3 h5 {
    font-size: 12px;
  }
  .f_conts {
    width: 85%;
    margin: auto;
  }
  .f-cont {
    justify-content: space-between;
  }
  .f-cont h5 {
    font-size: 18px;
  }
  .f-cont li {
    font-size: 14px;
    list-style: none;
  }
  .mobile--footer {
    margin-top: 45px;
    height: 750px;
  }
  .instagram {
    width: 10%;
    gap: 10px;
  }
  .appimage {
    width: 85%;
    margin: auto;
  }
  .appimage h5 {
    font-size: 16px;
  }
  .dd h5 {
    font-size: 12px;
  }
  .dd-d h5 {
    font-size: 12px;
  }
  .sub-navbar h5 {
    font-size: 12px;
  }
  .dd-d {
    width: 95%;
  }
  .sub-navbar {
    width: 98%;
  }
  .fvv-image img {
    width: 100%;
  }
  .block {
    height: 250px;
    width: 100%;
  }
  .scroll-section {
    display: block;
    width: 100%;
  }
  .sa_ve-btn {
    display: none;
  }
  .viewers {
    display: none;
  }
  .mobile___dropdown {
    display: block;
  }
  .sbtn {
    width: 100%;
  }
  .prof-section {
    width: 30%;
  }
  .prof-section button {
    font-size: 11px;
    font-weight: 600;
  }
  .mobile--buttons button {
    background-color: #198754;
  }
  .link-image {
    width: 95%;
  }
  .link-image img {
    width: 100%;
  }
  .hamburger--menu {
    display: block;
    width: 18%;
    height: 2px;
  }
  .sg button {
    font-size: 11px;
    font-weight: 600;
  }
}
@media (orientation: landscape) {
  .landing-nav {
    width: 100%;
  }
  .footer {
    width: 100%;
    height: 500px;
  }
}

.related {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (max-width: 1024px) {
  .landing--cont {
    margin: auto;
    display: grid;
    gap: 30px;
  }
  .ict {
    text-align: center;
  }
  .ict h5 {
    color: #198754;
  }
  .globe {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 80%;
    margin: 0 auto;
    align-items: flex-start;
  }

  .landing--contt {
    width: 45%;
    margin: auto;
  }
  .landing--conttt {
    margin: auto;
    width: 200px;
  }
}

@media (max-width: 768px) {
  .landing--cont {
    margin: auto;
    display: grid;
    gap: 20px;
  }
  .ict {
    text-align: center;
  }
  .ict h5 {
    color: #198754;
  }
  .globe {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
    align-items: flex-start;
  }

  .landing--contt {
    width: 45%;
    margin: auto;
    font-size: 15px;
  }
  .landing--conttt {
    margin: auto;
    width: 160px;
  }
}
.footerM {
  width: 95%;
  margin: auto;
  padding-top: 30px;
}
