@tailwind base;
@tailwind components;
@tailwind utilities;

table {
  border: none;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  margin: 0 auto;
  background-color: white;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  padding: 0.35em;
  border-top: 1px solid #e5e7eb;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table thead tr {
  border-top: none;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
  table tr:last-child {
    border-bottom: none;
  }
}

@layer components {
  body {
    @apply m-0 bg-gray_bg;
  }
  .link {
    @apply no-underline text-tgray hover:text-white;
  }
  .modal_container {
    @apply fixed top-0 left-0 w-full h-full flex justify-center items-center bg-[rgba(5,2,9,0.6)];
  }
  .modal_content {
    @apply flex flex-col  py-2 gap-5 md:w-[65%] w-[80%] lg:w-[35%] h-fit pb-5 bg-white rounded-md shadow-md;
  }

  .modal_heading {
    @apply font-bold text-[20px] border-b-2 border-gray-300 w-full text-center pb-2;
  }
  .sidebar_content {
    @apply lg:w-[24%] md:w-[30%] md:relative absolute w-full;
  }
  .main_content {
    @apply lg:w-[82%] md:w-[74%] w-full;
  }
  .btn_green {
    @apply p-2 bg-[#52cb83]  md:max-w-[128px] text-white rounded-md lg:w-36 w-[35%] text-sm md:text-base;
  }

  .btn_green_h {
    @apply p-2 bg-[#52cb83] rounded-md w-36 text-white my-3 text-sm md:text-base;
  }
  .btn_red {
    @apply bg-[#d14949] md:max-w-[128px] text-white p-2 rounded-md lg:w-36 w-[35%] text-sm md:text-base;
  }
  .btn_gray {
    @apply bg-[#cccccc] md:max-w-[128px] text-white p-2 rounded-md lg:w-36 w-[35%] text-sm md:text-base;
  }
  .err_text {
    @apply text-[#d14949] text-sm;
  }
  .base_container {
    @apply max-w-[1560px] mx-auto flex min-h-screen w-full bg-gray_bg;
  }
  .all_heading {
    @apply flex md:flex-row flex-col md:items-center justify-between;
  }
  .all_heading h1 {
    @apply md:text-2xl text-base font-bold;
  }
  .all_heading input {
    @apply rounded-sm py-2 px-4;
  }
  .paginate {
    @apply flex justify-end my-3;
  }

  .first_head {
    @apply flex flex-col md:flex-row md:justify-between items-center;
  }
  .top_btn {
    @apply p-2 bg-green_bg rounded-md  text-white my-2 w-[33%] text-sm md:text-base md:max-w-[150px];
  }

  .form_message {
    @apply flex flex-col items-center gap-6 bg-white shadow-md md:w-[80%] mx-auto h-fit pb-5 rounded-md w-full;
  }
  .message_heading {
    @apply md:text-[20px] text-center my-2 pb-2 border-b-2 border-b-[#e5e7eb] w-full text-[18px];
  }

  .text_h1_heading {
    @apply md:text-[20px] text-center w-full text-[18px];
  }
  .message_input {
    @apply w-[70%] h-full bg-transparent border-2 border-[#707070] rounded-md px-2 py-1 text-sm md:text-base;
  }
  .single_input {
    @apply w-[90%] h-10 bg-gray_bg px-3 py-1;
  }
}
