@tailwind base;
@tailwind components;
@tailwind utilities;

.menus {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
}

.menus .dropdown_menu {
  display: none;
  flex-direction: column;
  gap: 3px;
  padding-left: 30px;
  font-size: 16px;
}

.menus.active .dropdown_menu {
  display: flex;
}

.sidebar_container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.profile_img:hover .hover_div {
  transition: all 0.2s ease 0.1s;
}

.hover_div {
  transition: all 0.4s ease 0.1s;
}

.not_icon:hover .notMsg {
  transition: all 0.2s ease 0.1s;
}

.notMsg {
  transition: all 0.4s ease 0.1s;
}

@layer components {
  .sidebar_container {
    @apply m-0 bg-black_bg md:flex flex-col gap-5 py-4 h-screen min-h-fit mt-[55px] md:mt-0 overflow-y-scroll fixed pb-10 hidden md:max-w-[350px]  md:w-[23%] w-full;
  }
  .menu_contents {
    @apply flex justify-between items-center px-2 gap-5 cursor-pointer hover:text-white text-base;
  }

  .toggleImg {
    @apply transition-all duration-500;
  }

  .dropdown_menu {
    @apply transition-all duration-500;
  }

  .dropdown_menu .link {
    @apply transition-all duration-200 -mt-2 text-[15px] hover:text-white;
  }

  .menus.active .toggleImg {
    @apply rotate-180;
  }

  .dash {
    @apply h-[1.5px] w-full mx-auto rounded-lg  bg-[#242527];
  }

  .content {
    @apply flex gap-3 items-center text-base font-normal;
  }
  .content_1 {
    @apply flex gap-3 items-center px-2 py-1;
  }
  .content h5 {
    @apply text-base md:text-sm lg:text-base;
  }
  .content_1 h5 {
    @apply text-base md:text-sm lg:text-base;
  }
  .sidebar .toggleMenu {
    @apply md:hidden block absolute mt-[70px] bg-black_bg text-white p-2 rounded-sm cursor-pointer z-20;
  }
  .sidebar.active .toggleMenu {
    @apply bg-white text-black;
  }
  .sidebar .toggleMenu .close {
    @apply hidden;
  }
  .sidebar.active .toggleMenu .close {
    @apply block;
  }
  .sidebar .toggleMenu .hamburgers {
    @apply block;
  }
  .sidebar.active .toggleMenu .hamburgers {
    @apply hidden;
  }
  .sidebar.active .sidebar_container {
    @apply flex flex-col z-10;
  }
  .profile_img {
    @apply flex flex-col;
  }

  .profile_img:hover .hover_div {
    @apply visible;
  }
  .hover_div {
    @apply invisible absolute gap-3 rounded-sm p-3 bg-[#f5f5f5] ml-[-120px] mt-[30px];
  }

  .not {
    @apply flex flex-col relative;
  }
  .notMsg {
    @apply invisible absolute mt-9 left-[-200px] text-sm bg-white rounded-md p-3 max-w-[200px] shadow-md;
  }

  .not_icon {
    @apply text-gray-600 relative cursor-pointer;
  }

  .notMsg .link:hover {
    @apply text-green-400;
  }

  .not:hover .notMsg {
    @apply visible;
  }
}
